<process draft="false" dev-studio-version="7.6.03">
  <process-def name=":AutoPilot-OA-DNS_Integration:Utilities:Config">
    <parameters>
      <input global="false" required="false">
        <from>paramter group name</from>
        <to>paramter group name</to>
      </input>
      <output global="false" required="false">
        <to>config</to>
        <from>config</from>
      </output>
    </parameters>
    <access />
    <sequence>
      <switch>
        <meta>
          <documentation />
          <run-mode-handling>
            <run-mode>OCP</run-mode>
            <allow-step-into>true</allow-step-into>
          </run-mode-handling>
          <checkpoint>false</checkpoint>
        </meta>
        <execute-all-applicable-cases>false</execute-all-applicable-cases>
        <default>
          <sequence>
            <assign>
              <assignment>
                <input global="true">
                  <configuration>:AutoPilot-OA-DNS_Integration</configuration>
                </input>
                <output>
                  <to>config</to>
                </output>
              </assignment>
              <meta>
                <documentation />
                <checkpoint>false</checkpoint>
              </meta>
              <location>:switch[1]:sequence[1]:assign[1]</location>
            </assign>
          </sequence>
        </default>
        <case>
          <condition>
            <document>
              <input>
                <from>paramter group name</from>
              </input>
            </document>
            <xpath-expression>
              <xpath-replacement-tokens />
              <xpath><![CDATA[string-length(normalize-space(.)) > 0]]></xpath>
            </xpath-expression>
          </condition>
          <sequence>
            <assign>
              <assignment>
                <document>
                  <input global="true">
                    <configuration>:AutoPilot-OA-DNS_Integration</configuration>
                  </input>
                </document>
                <result>
                  <output>
                    <to>config</to>
                  </output>
                </result>
                <xpath-expression>
                  <xpath-replacement-tokens>
                    <replacement-token name="group name">
                      <input global="false">
                        <from>paramter group name</from>
                      </input>
                    </replacement-token>
                  </xpath-replacement-tokens>
                  <xpath><![CDATA[//${group name}/*]]></xpath>
                </xpath-expression>
              </assignment>
              <meta>
                <documentation />
                <checkpoint>false</checkpoint>
              </meta>
              <location>:switch[1]:sequence[2]:assign[1]</location>
            </assign>
          </sequence>
        </case>
        <location>:switch[1]</location>
      </switch>
    </sequence>
    <meta>
      <expose-to>
        <consumer>RULE</consumer>
        <consumer>SCHEDULE</consumer>
        <consumer>OCP</consumer>
        <consumer>SOAP</consumer>
      </expose-to>
      <documentation>
        <description>Given a configuration group, return all configuration parameters under that group.</description>
        <version></version>
      </documentation>
      <peer-location>
        <location>any</location>
      </peer-location>
      <record-metrics>false</record-metrics>
      <process-id>d3e86c04-1d2b-4a22-b3db-8460741da318</process-id>
      <author>Amit Chauhan</author>
      <category></category>
      <status></status>
      <keywords></keywords>
      <systems></systems>
      <last-modified-by>admin</last-modified-by>
      <last-modified>1399524918136</last-modified>
    </meta>
  </process-def>
</process>